#mask-loader{
    position: absolute;
    visibility: hidden;
    top: 0px;
    left: 0px;
    overflow: hidden;
    width: 0px;
    height: 0px;
}
#mask-loader img{
    width: 1px;
    height: 1px;
}

#loader{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
#loader-img{
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/loader.gif);
    margin-bottom: 5px;
}
#loader-bar{
    position: relative;
    width: 200px;
    height: 12px;
    border-radius: 8px;
    background-color: #E1E1E1;
    overflow: hidden;
}
#loader-bar2{
    position: absolute;
    width: 0px;
    height: 100%;
    border-radius: 8px;
    background-color: #999;
    left: 0px;
    top: 0px;

    transition: width 0.1s;
}
.loader-on{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s;
}
.loader-off{
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s;
}
.loader-off #loader-img{
    background-image: none;
}